<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register form</title>
    <style>
        form{
            display:flex;
            flex-direction: column;
            width:28vw;
            margin:auto;
        
        }
    </style>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password1" placeholder="Password">
        <input type="text" name="password2" placeholder="Confirm Password">
        <input type="Submit" value="Submit">

    </form>
</body>
</html>